{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:security/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreRegExpLiterals": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "quotes": [
      "error",
      "double"
    ]
  }
}
